@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-primary: #432365;
  --color-secondary: #e5dbf3;
  --color-minor: #1f102f;

  --font-title: "Cal Sans", sans-serif;
  --font-logo: "Shrikhand", serif;

}

body{
  font-family: "Schibsted Grotesk", sans-serif;
}

.swiper-pagination-bullet {
  background-color: #d1d5db;
  
  /* text-gray-300 */
}

.swiper-pagination-bullet-active {
  background-color: #432365  !important ; 
}



.stroke-text {
  -webkit-text-stroke: 2px #432365  ;
  color: transparent;
  font-family: var(--font-title);
}
.hero-text {
  -webkit-text-stroke: 1px white  ;
  color: transparent;
  font-family: var(--font-title);
}